
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.inputs{
    color: white;
    background-color: black;
    
}
p{
    font-family: 'Pacifico', cursive;
}
body{
    padding: 35%;
    background: linear-gradient(to right,#5578BA,#40A376);
    padding-top: 40px;
}
#observacao{
    display: none;
}
.container{
    width: 340px;
    height: 530px;
    padding-left: 100px;
    border: yellow;
    border-radius: 20%;
    border-style: dashed;
    justify-content: center;
    
}

#cadastrar{
    width: 250px;
    height: 20px;
}

body{
    justify-content: center;
}

li{
    position: relative;
    margin: 10px auto;
    left :-100px;
    width: 180%;
    
}
ul{
    
    position: absolute;
    
    
}

.inspecao{
    right: 50px;
    position: relative;
    text-align: center;
}

.box1{
    position: relative;
    left: 46%;
    margin: 10px;
    padding: 10px;

  
    
}
.box2{
    position: relative;
    left: 46%;
    margin: 10px;
    padding: 10px;

    
}
#boxtext{
    width: 100px;
    position: relative;
    text-align: center;
    left: 50%;
}
